.center{
    padding: 30px;
    top: 50px;
    left: 400px;
    position: fixed;
    width: 1000px;
    height: 450px;
    border-radius: 30px;
    border-style: inset;
    border-width: 5px;
    background-color: antiquewhite;  
    align-items: center;
}
.playerHand{
  padding: 20px;
  top: 550px;
  left: 400px;
  width: 1000px;
  position: fixed;
  border-style: inset;
  border-radius: 30px;
  border-width: 5px;
  align-items: center;
  background-color: antiquewhite;  

}
.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgb(155, 202, 209);
  border-radius: 3px;
  border-width: 0px;
}
