.center{
    padding: 30px;
    top: 50px;
    left: 400px;
    position: fixed;
    width: 1000px;
    height: auto;
    border-radius: 30px;
    border-style: inset;
    border-width: 5px;
    background-color: aliceblue;
    align-items: center;
}
.playerHand{
  padding: 20px;
  top: 550px;
  left: 400px;
  width: 1000px;
  position: fixed;
  border-style: inset;
  border-radius: 30px;
  border-width: 5px;
  align-items: center;
  background-color: aliceblue; 

}
.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgb(155, 202, 209);
  border-radius: 3px;
  border-width: 0px;
}
.player-res{
  display: inline-block;
  align-items: center;
  height: auto;
  width: 100%;
}
.sign-up{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(140, 137, 137);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-inner{
  position: fixed;
  border-radius: 30px;
  border-style: groove;  
  border-width: 5px;  
  padding: 32px;
  width: auto;
  height: auto;
  max-width: 640px;
  background-color: aliceblue;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.input-form{
  align-items: center;
  padding: 10px;
}
.input-form-ok{
  align-items: center;
  padding: 10px;
  background-color: rgb(187, 221, 152);
}
.input-form-bad{
  align-items: center;
  padding: 10px;
  background-color: rgb(227, 144, 163);
}
.card-btn{
  background-color:'antiquewhite'; 
  border-width: 0
}
.lobby-link{
  padding: 10px;
  justify-content: center;
  text-align: center;
}