.center{
    padding: 30px;
    position: fixed;
    width: 700px;
    height: 360px;
    border-radius: 30px;
    border-style: inset;
    border-width: 5px;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
    margin-bottom: 280px;
}
.playerHand{
  padding: 20px;
  text-align: center;
  margin-top: 500px;
  width: 1000px;
  position: fixed;
  border-style: inset;
  border-radius: 30px;
  border-width: 5px;
  align-items: center;
  background-color: aliceblue; 

}
.close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgb(155, 202, 209);
  border-radius: 3px;
  border-width: 0px;
}
.player-res{
  display: inline-block;
  align-items: center;
  height: auto;
  width: 100%;
}
.sign-up{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(140, 137, 137);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-inner{
  position: fixed;
  border-radius: 30px;
  border-style: groove;  
  border-width: 5px;  
  padding: 32px;
  width: auto;
  height: auto;
  max-width: 640px;
  background-color: aliceblue;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.input-form{
  align-items: center;
  padding: 10px;
}
.input-form-ok{
  align-items: center;
  padding: 10px;
  background-color: rgb(187, 221, 152);
}
.input-form-bad{
  align-items: center;
  padding: 10px;
  background-color: rgb(227, 144, 163);
}
.card-btn{
  background-color:'antiquewhite'; 
  border-width: 0
}
.lobby-link{
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.player1{
  position: fixed;
  text-align: center;
  margin-top: 400px;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  border-style: inset;
  border-width: 5px;
  background-color: aliceblue;
  align-items: center;
}
.player2{
  position: fixed;
  text-align: center;
  margin-right: 900px;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  border-style: inset;
  border-width: 5px;
  background-color: aliceblue;
  align-items: center;
  padding: 20px;
}
.player3{
  position: fixed;
  text-align: center;
  margin-bottom: 750px;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  border-style: inset;
  border-width: 5px;
  background-color: aliceblue;
  align-items: center;
  padding: 20px;
}
.player4{
  position: fixed;
  text-align: center;
  margin-left: 900px;
  width: auto;
  padding: 20px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  border-style: inset;
  border-width: 5px;
  background-color: aliceblue;
  align-items: center;
}
.background-game{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(128, 150, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-card-from-deck{
  width: 90px;
  height: 120px;
  font-size: x-large;
  border-radius: 30px;
  background-color: rgb(198, 185, 235);
}
.get-card-from-deck:hover{
  opacity: 0.7;
}
.pile{
  border-radius: 20px;
  border-color: rgb(136, 131, 131);
  border-width: 5px;
}